h1{
  text-align: center;
  }/* You can add global styles to this file, and also import other style files */

  header{
    text-align: center;
  }

  header a:nth-of-type(1){
    margin-right: 10px;
  }
